.header {
    margin-top: 50px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.header img {
    width: 95px;
    height: 85px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header h1 {
    margin: 0;
    color: #32CD32;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 43px;
    font-weight: 800;
    line-height: 1.2;
}

.header p {
    margin-top: 6px;
    margin-bottom: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
}
